@charset "UTF-8";
/* line 4, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "OBaskerville";
  src: url(../fonts/open-baskerville.eot);
  src: url(../fonts/open-baskerville.eot%3F) format("embedded-opentype"), url(../fonts/open-baskerville.woff) format("woff"), url(../fonts/open-baskerville.ttf) format("truetype"), url(../fonts/open-baskerville.svg) format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "foundicons";
  src: url(../fonts/general-foundicons.eot);
  src: url(../fonts/general-foundicons.eot%3F) format("embedded-opentype"), url(../fonts/general-foundicons.woff) format("woff"), url(../fonts/general-foundicons.ttf) format("truetype"), url(../fonts/general-foundicons.svg) format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
/* line 4, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
h1, h2, h3, h4, h5, h6, p, span, a, .page-content li, .amp, label, .input input, .input textarea, .input select, .input .button, .input .input--file, .order-status, .product__description, .table--key-value, .table--display {
  font-family: "Baskerville", "OBaskerville", Georgia, serif;
}

/* line 10, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
h1 {
  font-size: 2.5rem;
}

/* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
article p, .page-content ul {
  font-size: 1.2em;
  line-height: 1.3;
  margin: 0;
  padding: 0 0.75em 0.5em;
}
@media screen and (min-width: 40.0625em) {
  /* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
  article p, .page-content ul {
    padding: 0 2em 1em;
  }
}

/* line 25, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
a {
  color: inherit;
}

/* line 28, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
.amp {
  font-style: italic;
  font-weight: normal;
}

/* line 33, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
.big {
  text-align: center;
  font-size: 1.5em;
}

/* line 37, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
.hearts {
  color: #e15454;
  transition: color 0.2s linear;
  font-size: 1.5em;
  vertical-align: baseline;
  position: relative;
  top: 0.1em;
  line-height: 0;
}

/* line 46, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/typography.sass */
.align--right {
  text-align: right !important;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/visibility.sass */
.hidden {
  visibility: hidden;
}

/* line 4, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/visibility.sass */
.hide {
  display: none !important;
}

/* line 3, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-one-whole, .group--full > * {
  width: 100%;
}

/* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-one-half, .group--preview {
  width: 50%;
}

/* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-one-third {
  width: 33.33333%;
}

/* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-two-thirds {
  width: 66.66667%;
}

/* line 18, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-one-quarter {
  width: 25%;
}

/* line 21, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
.small-three-quarters {
  width: 75%;
}

@media screen and (min-width: 40.0625em) {
  /* line 3, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-one-whole {
    width: 100%;
  }

  /* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-one-half {
    width: 50%;
  }

  /* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-one-third, .group__photos {
    width: 33.33333%;
  }

  /* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-two-thirds, .group__content {
    width: 66.66667%;
  }

  /* line 18, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-one-quarter, .group--preview {
    width: 25%;
  }

  /* line 21, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .medium-three-quarters {
    width: 75%;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 3, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-one-whole {
    width: 100%;
  }

  /* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-one-half {
    width: 50%;
  }

  /* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-one-third {
    width: 33.33333%;
  }

  /* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-two-thirds {
    width: 66.66667%;
  }

  /* line 18, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-one-quarter {
    width: 25%;
  }

  /* line 21, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/generic/widths.sass */
  .large-three-quarters {
    width: 75%;
  }
}
/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/base/body.sass */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 6, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/base/body.sass */
body {
  background: #eee;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/base/code.sass */
.code--block {
  display: block;
  word-break: break-all;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/alert-boxes.sass */
.alert-boxes {
  margin-bottom: 2em;
  padding: 0 2em;
}

/* line 5, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/alert-boxes.sass */
.alert-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 0.75em 1em 0.65em;
}
/* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/alert-boxes.sass */
.alert-box.error, .alert-box.alert {
  border-color: #9C0000;
  color: #9C0000;
  background-color: #FFF1F1;
}
/* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/alert-boxes.sass */
.alert-box.success {
  border-color: #19703E;
  color: #19703E;
  background-color: #C8F3DA;
}
/* line 21, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/alert-boxes.sass */
.alert-box.notice {
  border-color: #aaa;
  color: #777;
  background-color: #f4f4f4;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button, .input--file, input[type="submit"] {
  background: #eee;
  border: none;
  border-radius: 0.3em;
  box-shadow: 1px 1px #222;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5em 0.75em 0.4em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}
/* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button:active, .input--file:active, input[type="submit"]:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}
/* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button.green, .green.input--file, input[type="submit"].green {
  background: #27ae60;
  text-shadow: 1px 1px #222;
  color: #fff;
}
/* line 24, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button.red, .button--call-to-action, .red.input--file, input[type="submit"].red {
  background: #c31901;
  background: -webkit-linear-gradient(#e01e02, #a21300);
  background: linear-gradient(#e01e02, #a21300);
  color: #fff;
}
/* line 29, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button.large, .button--call-to-action, .large.input--file, input[type="submit"].large {
  font-size: 1.5rem;
}
/* line 32, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button.wide, .wide.input--file, input[type="submit"].wide {
  width: 100%;
}

/* line 35, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.button--call-to-action {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 43, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/buttons.sass */
.input .button.add-new-size-range-link, .input .add-new-size-range-link.input--file,
.input .button.remove-size-range-link,
.input .remove-size-range-link.input--file,
.input .button.add-new-option-value-link,
.input .add-new-option-value-link.input--file,
.input .button.remove-option-value-link,
.input .remove-option-value-link.input--file {
  width: 50%;
  display: inline-block;
  min-width: 32px;
  margin-bottom: 4px;
  line-height: 1.3;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/container.sass */
.container {
  background: #fff;
  padding: 0;
  position: relative;
  box-shadow: 0px 1px 2px #666;
}
/* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/container.sass */
.container > article {
  padding: 0 1em 2em;
}
@media screen and (min-width: 40.0625em) {
  /* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/container.sass */
  .container {
    border-radius: 0.25em;
    max-width: 49.9rem;
    margin: 1rem auto 0;
    width: 95%;
  }
  /* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/container.sass */
  .container > header {
    padding: 1em 2em 0;
  }
  /* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/container.sass */
  .container > article {
    padding: 0 2em 2em;
  }
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/footer.sass */
footer {
  color: #888;
  text-align: center;
  font-size: 1.2em;
  padding: 2rem;
  transition: color 0.2s linear;
}
/* line 8, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/footer.sass */
footer:hover {
  color: #222;
}
/* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/footer.sass */
footer:hover .hearts {
  color: #9c0000;
}
/* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/footer.sass */
footer a {
  text-decoration: none;
}
/* line 17, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/footer.sass */
footer a:hover {
  text-decoration: underline;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
fieldset {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

/* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.fieldset--wide {
  max-width: 100%;
}

/* line 13, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
label small {
  font-weight: normal;
  font-size: 0.75em;
  color: #444;
}

/* line 18, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input {
  margin-bottom: 1em;
}
/* line 21, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input.grid__item, .input.group--preview, .group--full > .input {
  vertical-align: top;
}
/* line 24, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input.grid__item.input--bottom, .input.input--bottom.group--preview, .group--full > .input.input--bottom {
  vertical-align: bottom;
}
/* line 27, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input label {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
}
/* line 32, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input input, .input textarea, .input select, .input .button, .input .input--file {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  padding: 0.25em 0.5em 0.3em;
}
/* line 39, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input .pseudo-input {
  border: 1px solid #ccc;
}
/* line 42, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input .pseudo-input input {
  border: 0;
  display: inline-block;
  margin: 0;
  background: transparent;
}
/* line 48, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input .button, .input .input--file {
  border: none;
}
/* line 51, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input textarea {
  min-height: 3em;
}
/* line 54, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input input[type="checkbox"] {
  width: auto;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
/* line 60, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
}
/* line 64, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input .textarea--short {
  min-height: 0;
}

/* line 67, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--tabled {
  margin: 0;
  padding: 0;
}

/* line 71, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--currency {
  padding-left: 1.25em;
  position: relative;
}
/* line 75, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--currency input {
  padding-left: 0;
}
/* line 78, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--currency::before {
  content: "$";
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  font-size: 1.2em;
}

/* line 85, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--file {
  position: relative;
}
/* line 89, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--file input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 97, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin: 0.1em;
  vertical-align: top;
}
/* line 105, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color input[type="checkbox"], .input--color input[type="radio"] {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 114, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color input[type="checkbox"]:checked + .indicator, .input--color input[type="radio"]:checked + .indicator {
  visibility: visible;
}
/* line 117, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color label {
  color: #FFF !important;
  visibility: hidden;
  position: absolute;
  background: #444;
  padding: 0.5em 1em;
  top: -2.5em;
  left: 50%;
  font-size: 1rem;
  color: #fff;
  z-index: 999;
  border-radius: 0.5em;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 133, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color:hover label {
  visibility: visible;
}
/* line 136, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color .indicator {
  visibility: hidden;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #222;
}
/* line 147, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color.black .indicator {
  border-color: #AAA;
}
/* line 150, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--color.white {
  border: 1px solid #000;
}

/* line 153, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 158, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
input[type=number] {
  -moz-appearance: textfield;
}

/* line 161, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.input--options-value {
  margin-bottom: 4px;
}

/* line 165, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.field_with_errors label {
  color: #9C0000;
  display: inline-block;
}
/* line 169, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.field_with_errors .error {
  color: #b60000;
  display: inline-block;
  margin-left: 0.25em;
}
/* line 174, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border-color: #9C0000;
}

/* line 177, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.mark-for-destruction-button {
  display: block;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  background: red;
  cursor: pointer;
}
/* line 188, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.mark-for-destruction-button::before {
  display: inline-block;
  position: absolute;
  content: "×";
  color: white;
  font-size: 2em;
  right: 20%;
  top: -20%;
}
/* line 197, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.mark-for-destruction-button input {
  opacity: 0;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

/* line 205, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.spinner {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: #222;
  background: -webkit-linear-gradient(bottom left, #000, #222 40%, white 70%);
  background: linear-gradient(to top right , #000, #222 40%, white 70%);
  -webkit-animation: spinner 1s linear infinite;
  -moz-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  border-radius: 100%;
  position: relative;
  color: transparent;
  margin-right: 0.5em;
}
/* line 217, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.spinner:before, .spinner:after {
  content: "";
  position: absolute;
  background: #FFF;
}
/* line 222, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.spinner:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  top: -1px;
  left: -1px;
}
/* line 229, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/forms.sass */
.spinner:after {
  width: 75%;
  height: 75%;
  border-radius: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/grid.sass */
.grid {
  margin-left: -1em;
  list-style: none;
  margin-bottom: 0;
}
/* line 6, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/grid.sass */
.grid .grid {
  margin-left: 0;
}

/* line 9, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/grid.sass */
.grid__item, .group--preview, .group--full > * {
  display: inline-block;
  padding-left: 1em;
  vertical-align: top;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group {
  margin-bottom: 1em;
}

/* line 9, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group--preview span {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  background: #fff;
  padding: 0.5em 0;
}
/* line 18, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group--preview .frame {
  min-height: 160px;
  position: relative;
}
/* line 22, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group--preview img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
}

/* line 29, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group--full {
  margin-left: -1em;
  list-style: outside none none;
  margin-bottom: 0px;
}
/* line 38, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group--full .group__photo {
  margin-top: 2.3rem;
}

/* line 46, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group__photos img {
  max-width: 100%;
  border: none;
}

/* line 53, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group__photo {
  max-width: 100%;
  margin: 0 auto 0.5em;
  display: block;
}
/* line 58, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
.group__photo img {
  margin-top: 0.25em;
  max-width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 40.0625em) {
  /* line 65, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
  .group__photo--preview {
    max-width: 20em;
  }
}

@media screen and (max-width: 40em) {
  /* line 69, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/group.sass */
  .group__name {
    text-align: center;
  }
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
header {
  padding: 1em 0;
}
/* line 4, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
header img {
  max-width: 100%;
  border: none;
}

/* line 8, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
.header--admin {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
/* line 20, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/bourbon-4.2.7/app/assets/stylesheets/addons/_clearfix.scss */
.header--admin::after {
  clear: both;
  content: "";
  display: table;
}
/* line 12, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
.header--admin h1 {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 74.10533%;
  margin: 0;
}
/* line 89, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.header--admin h1:last-child {
  margin-right: 0;
}
/* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
.header--admin a {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
}
/* line 89, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
.header--admin a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 40em) {
  /* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/header.sass */
  .header--admin a {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
  }
  /* line 89, /home/jacob/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/neat-1.7.4/app/assets/stylesheets/grid/_span-columns.scss */
  .header--admin a:last-child {
    margin-right: 0;
  }
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/lists.sass */
.list--centered {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

/* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/lists.sass */
.list--big {
  font-size: 1.3em;
  width: 100%;
  max-width: 300px;
}
/* line 12, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/lists.sass */
.list--big li {
  padding: 0.5rem;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 6, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message--preview {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 1em 0.75em;
}
/* line 11, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message--preview:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 40.0625em) {
  /* line 15, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
  .message--preview .message__from, .message--preview .message__timestamp {
    width: 49%;
    display: inline-block;
  }
  /* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
  .message--preview .message__timestamp {
    text-align: right;
  }
}

/* line 23, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message--full .message__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
/* line 27, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message--full .message__header table {
  padding: 1em;
}

/* line 30, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message--unread {
  background-color: #FFFFE7;
}

/* line 33, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/messages.sass */
.message__timestamp {
  display: block;
  line-height: 1.5;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
nav {
  background: #c31901;
  background: -webkit-linear-gradient(#e01e02, #a21300);
  background: linear-gradient(#e01e02, #a21300);
  box-shadow: 0 1px 2px #222;
  margin-bottom: 1em;
}
/* line 7, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
nav ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0.25em 0;
  width: 100%;
  overflow: hidden;
}
/* line 15, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
nav li {
  display: inline-block;
  width: 50%;
}
/* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
nav a {
  color: #FFBABA;
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2em 0.5em;
  text-shadow: 1px 1px 0px #320000;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
}
/* line 32, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
nav a:hover, nav a.selected {
  color: #FFF;
}
@media screen and (min-width: 40.0625em) {
  /* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav {
    position: relative;
    width: 103%;
    left: -1.5%;
    padding: 0 0.25em;
  }
  /* line 41, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav:after, nav:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    z-index: -1000;
  }
  /* line 48, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav:before {
    left: 0;
    border-top: 15px solid #6F0D00;
    border-left: 15px solid transparent;
  }
  /* line 53, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav:after {
    right: 0;
    border-top: 15px solid #6F0D00;
    border-right: 15px solid transparent;
  }
  /* line 58, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav ul {
    padding: 0;
  }
  /* line 61, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav li {
    width: auto;
  }
  /* line 64, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/navigation.sass */
  nav a {
    padding: 0.5em;
  }
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/order.sass */
.order-status {
  text-align: center;
}

/* line 5, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/order.sass */
.order-status__due {
  font-size: 2em;
}

/* line 8, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/order.sass */
#line_item_quantity,
.order-summary__quantity {
  width: 2em;
  display: inline-block;
  text-align: right;
}

/* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/order.sass */
.line_item--inactive {
  opacity: 0.5;
}

/* line 17, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/order.sass */
.order-summary__qty {
  width: 6em;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--preview {
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-bottom: 1em;
  cursor: pointer;
}
@media screen and (min-width: 40.0625em) {
  /* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
  .product--preview {
    width: 25%;
  }
}
/* line 12, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--preview .product__image {
  height: 150px;
}
/* line 15, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--preview .product__name {
  font-size: 1em;
  margin: 0 0.5em;
}
/* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--preview .product__name a {
  text-decoration: none;
}
/* line 22, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--preview .product__info {
  font-size: 0.9em;
}

/* line 26, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product--full .product__name {
  margin-bottom: 0;
}

/* line 29, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__images {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 40.0625em) {
  /* line 29, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
  .product__images {
    width: 275px;
  }
}

/* line 38, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__details {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (min-width: 40.0625em) {
  /* line 38, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
  .product__details {
    width: auto;
    max-width: 450px;
    width: calc(100% - 280px);
  }
}
/* line 48, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__details ul {
  margin: 0;
}

/* line 51, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__image {
  max-width: 100%;
  max-height: 300px;
}

/* line 55, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__colors {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 61, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__color {
  overflow: hidden;
  color: transparent;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 2px;
}

/* line 70, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/products.sass */
.product__description {
  margin-bottom: 1.5em;
}

/* line 4, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--key-value tr th {
  text-align: right;
  padding-right: 0.5em;
}

/* line 8, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--display {
  border-collapse: collapse;
  min-width: 100%;
}
@media screen and (max-width: 40em) {
  /* line 8, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
  .table--display {
    min-width: 30em;
  }
}
/* line 16, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--display thead tr {
  border-bottom: 1px solid #ddd;
}
/* line 19, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--display th, .table--display td {
  text-align: left;
  padding: 0.25em 1em;
}
/* line 24, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--display tbody tr:nth-child(2n) {
  background-color: #f9f9f9;
}
/* line 28, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--display tfoot tr:first-child {
  border-top: 1px solid #ddd;
}

/* line 32, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/tables.sass */
.table--top td {
  vertical-align: top;
}

/* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/well.sass */
.well {
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  padding: 1.5em;
}
@media screen and (max-width: 40em) {
  /* line 1, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/well.sass */
  .well {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
/* line 10, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/well.sass */
.well .well {
  max-width: 100%;
  width: 100%;
}
/* line 14, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/well.sass */
.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  margin-top: 0;
}

/* line 17, /home/jacob/code/clients/millers/screenworks/app/assets/stylesheets/objects/well.sass */
.well__message {
  text-align: center;
  font-size: 1.25em;
  color: #666;
}

.notice {
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;

  background: #fff9dc;
  border: 1px solid #ffd612;
}